/*
Components spcefic customizations

below gets foo-button as css-selector, and applies some material component specific things

.foo-button {
    @include mdc-button-ink-color(teal);
    @include mdc-states(teal);
}

*/

// This sets all <h1>,...,<h6> elements with Material headline1,...,headline6 typography styles
// Check out the MDC Web documentation for how to use MDC Typography Sass mixins:
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography
h1 {
    @include mdc-typography(headline1);
}
​
h2 {
    @include mdc-typography(headline2); 
}
​
h3 {
    @include mdc-typography(headline3); 
}
​
h4 {
    @include mdc-typography(headline4); 
}
​
h5 {
    @include mdc-typography(headline5); 
}
​
h6 {
    @include mdc-typography(headline6); 
}
​
// This sets all <p> elements with Material body1 typography styles
p {
    @include mdc-typography(body1);
}

.mdc-top-app-bar {
    @include mdc-elevation(1);
    position: relative;
    z-index: 1;
  
    &:not(.mdc-top-app-bar--short) {
      width: 100%;
    }
}
  
#ourCustomers .mdc-image-list {
    // @include mdc-image-list-standard-columns(5);

    max-width: fit-content;
    // max-height: 600px;
    margin: 0px;
}

#howItWorks .mdc-image-list {
    @include mdc-image-list-standard-columns(1);

    // max-width: fit-content;
    // max-height: 600px;
    margin: 0px;
}
